body{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(UP.jpg);
    background-attachment: fixed;
    background-size: cover;
    
}

h1{
    color: #ff7200;
    border: 2px solid;
    border-radius: 50px 30px 40px 17px;
    line-height: 72px;
}
h2{
    font-size: 270%;
    color: rgb(255, 255, 255);
    text-decoration: wavy;
    line-height: 52px;
    font-family: fantasy;
    text-align: center;
}
hr{
    width: 130vh;
    
}
p{
    color: #ff7200;
    font-size: 22px;
    text-align: center;
    padding: 40px;
}
.navbar{
    height: 12vh;
    padding: 20px;
    width: 96%;
    display: flex;
    align-items: center;
    
}
nav{
    flex: 1;
    text-align: center;
    word-spacing: 60px;
}
nav ul li{
    
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    
    
}
.all{
    background-color: #e7e078;
    
    bottom: 0px;
    width: 100%;
    height: 40vh;
    position: relative;
}
.all p{
    font-family: cursive;
    color: #ff7809;
}
.foot{
    height: 0vh;
}
.foot p{
    font-size: 30px;
}

.footter{
    
    height: 10vh;
}
img{
    width: 310px;
}
.box{
    position: relative;
    border: solid;
    color:  rgba(255, 255, 255, 0.63);
    border-radius: 30%;
    width: 24%;
    height: 340px;
    
    text-align: center;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(html5.jpg);
    background-size: cover;
}
.boxa{
    position: absolute;
    left: 33%;
    top: 270px;
    border: solid;
    color: rgba(255, 255, 255, 0.63);
    border-radius: 30%;
    width: 24%;
    height: 340px;
    
    text-align: center;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(javascript.png);
    background-size: cover;
}
.git{
    height: 110px;
}
nav ul li a{
    text-decoration: none;
    color: #ff7200;
    font-size: 27px;
    font-family: fantasy;
}

nav ul li a:hover{
    color: #fff45e;
}
.g{
    
    width: 60px;
}
.ent{
    padding-left: 20px;
}
.contact-icon{
	word-spacing: 14px;
	padding-left: 38px;
	padding-top: 8px;
}
.contact-icon i{
	font-size: 30px;
	color: #fff45e;
}
.contact-icon i:hover{
	color: #ff7200;
}
.bottom-icon{
	color: orange;
	text-align: center;
	font-size: 40px;
	height: 0px;
}
.bottom-icon a:hover{
	color: #ff7809;
}
.bottom-icon a{
	color: #000;
}


@media screen and (max-width: 600px){
    body{
        background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(pac.jpg);
        background-attachment: fixed;
        background-size: cover;
        
 
    }
    h2{
        text-align: center;
    }
    hr{
        width: 225px;
    }
    .navbar{
        height: 29vh;           
    }
    nav{
        word-spacing: 20px;
    }
    .box{
        padding: 30px;
        position: inherit;
        width: 70%;
        height: 240px;
    }
    .boxa{
    padding: 30px;
    position: inherit;
    width: 70%;
    height: 240px;
    }
    img{
        width: 210px;
    }
}
