body{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(UP.jpg);
    background-attachment: fixed;
    background-size: cover;
}

h1{
    color: #ff7200;
    border: 2px solid;
    border-radius: 50px 30px 40px 17px;
    line-height: 72px;
}
h2{
    padding: 0px;
    color: #ffaf02;
    border-bottom: 2.5px solid;
    width: 123px;
    line-height: 52px;
    font-family: cursive;
}
hr{
    width: 130vh;
    
}
p{
    color: #ff7200;
    font-size: 22px;
    text-align: center;
    padding: 40px;
}
.navbar{
    height: 12vh;
    padding: 20px;
    width: 96%;
    display: flex;
    align-items: center;
    
}
nav{
    flex: 1;
    text-align: center;
    word-spacing: 60px;
}
nav ul li{
    
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    
    
}

nav ul li a{
    text-decoration: none;
    color: #ff7200;
    font-size: 22px;
    font-family: cursive;
}

nav ul li a:hover{
    color: #fff45e;
}
.all{
    background-color: #e7e078;
    
    bottom: 0px;
    width: 100%;
    height: 50vh;
    position: relative;
}
.all p{
    font-size: 27px;
    font-family: cursive;
    color: #ff7809;
}
.foot{
    height: 15vh;
}
.footter{
    
    height: 20vh;
}
.contact-icon{
	color: orange;
	text-align: center;
	font-size: 40px;
	height: 0px;
}
.contact-icon a:hover{
	color: #ff7809;
}
.contact-icon a{
	color: #000;
}

@media screen and (max-width: 600px){
    body{
        background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(pac.jpg);
        background-attachment: fixed;
        background-size: cover;
        
        padding: 0px;
    }
    hr{
        width: 175px;
    }
    .navbar{
        height: 29vh;  
        padding: 0px;
    }
    nav{
        word-spacing: 20px;
    }
    .all p{
        font-size: 19px;
    }
}
